body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3C4043;
}


.wrapper {
    text-align: center;
    width: 1500px;
}


.title {
    font-family: 'Lobster', cursive;
    font-size: 150px;
    font-weight: bold;
    color: #518E51;
    text-shadow: 4px 4px #1C311C;
    margin: 0 40px;
}


.dice-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 80px auto 0 auto;
    max-width: 700px;
}


.player {
    font-family: 'Zen Dots', cursive;
    font-size: 24px;
    font-weight: bold;
    color: #518E51;
    margin-bottom: 30px;
}


.die {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: solid #920000 1px;
    border-radius: 10px;
    background-color: #920000;
    box-shadow: 3px 3px 8px black;
}


.die-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
}

.die-row div {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: white;
}


button {
    font-family: 'Zen Dots', cursive;
    font-size: 24px;
    font-weight: bold;
    color: #518E51;
    margin-top: 100px;
    width: 200px;
    height: 50px;
    padding: 0;
    border-radius: 5px;
    border: solid white 1px;
    box-shadow: 3px 3px 8px black;
}

.reset-btn {
    color: white;
    background-color: #518E51;
    border: solid #518E51 1px;
}

button:hover {
    cursor: pointer;
}


/* Utility Classes */

.hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

.visible {
    visibility: visible;
}

.display {
    display: block;
}